* text=auto eol=lf
*.cmd text eol=crlf
*.sh text eol=lf
*.py text eol=lf
*.md text eol=lf
*.json text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
*.patch text eol=lf
*.bin -text
*.itb -text
*.fip -text
*.lzma -text
*.zst -text
*.bz2 -text
*.zip -text
*.ko -text
*.elf -text
